<hr class="bg-white w-full mb-10">

<div class="grid grid-cols-1 md:grid-cols-3 gap-y-2 items-start">
  <div>
    <ul class="flex flex-col gap-y-2">
      <li class="text-white font-unbounded font-semibold uppercase text-sm lg:text-lg cursor-pointer">About Monstercat
      </li>
      <li class="text-white font-unbounded font-semibold uppercase text-sm lg:text-lg cursor-pointer">Contact us</li>
      <li class="text-white font-unbounded font-semibold uppercase text-sm lg:text-lg cursor-pointer">Careers</li>
      <li class="text-white font-unbounded font-semibold uppercase text-sm lg:text-lg cursor-pointer">News</li>
      <li class="text-white font-unbounded font-semibold uppercase text-sm lg:text-lg cursor-pointer">Press</li>
    </ul>
  </div>
  <div>
    <ul class="flex flex-col gap-y-2">
      <li class="text-white font-unbounded font-semibold uppercase text-sm lg:text-lg cursor-pointer">Terms of service
      </li>
      <li class="text-white font-unbounded font-semibold uppercase text-sm lg:text-lg cursor-pointer">Privacy policy
      </li>
    </ul>
  </div>
  <div class="pt-10 md:pt-0 flex flex-col gap-y-3">
    <h3 class="text-white text-opacity-60 font-unbounded font-semibold uppercase">Monstercat news</h3>
    <p class=" text-white text-opacity-90 font-montserrat italic text-xs md:text-lg">Don't miss a thing, stay up to date
      with the
      latest
      news from us.</p>
    <form (ngSubmit)="submit()" #formEmail="ngForm" class="mt-3 flex flex-row">
      <input type="text" placeholder="Enter email" name="email" [ngModel]="initForm.email" required
        class="text-white w-full font-montserrat bg-transparent border-0 outline-none appearance-none">
      <button type="submit" [disabled]="formEmail.invalid" class="">
        <fa-icon [icon]="faArrowRightLong" class="text-white"></fa-icon>
      </button>
    </form>
    <hr class="bg-white opacity-50 w-full">
  </div>
</div>

<hr class="bg-white w-full my-10">

<div class="grid grid-cols-1 sm:grid-cols-2 gap-5">
  <div>
    <p class="text-white text-opacity-80 font-montserrat italic">2011 - 2023 © Monstercat, All Rights Reserved</p>
  </div>
  <div class="flex flex-row text-white text-xl gap-x-5 sm:gap-x-3 md:gap-x-4 lg:gap-x-5 justify-start sm:justify-end">
    <fa-icon [icon]="faYoutube"></fa-icon>
    <fa-icon [icon]="faInstagram"></fa-icon>
    <fa-icon [icon]="faTiktok"></fa-icon>
    <fa-icon [icon]="faTwitter"></fa-icon>
    <fa-icon [icon]="faSpotify"></fa-icon>
    <fa-icon [icon]="faApple"></fa-icon>
    <fa-icon [icon]="faTwitch"></fa-icon>
    <fa-icon [icon]="faFacebook"></fa-icon>
    <fa-icon [icon]="faDiscord"></fa-icon>
  </div>
</div>