<div class="flex gap-2 justify-center"
  [ngClass]="{'flex-col': direction === 'vertical', 'flex-row': direction === 'horizontal'}">
  <a href="https://www.facebook.com/monstercat"><img src="../../../assets/social/facebook.svg" alt=""></a>
  <a href="https://www.instagram.com/monstercat"><img src="../../../assets/social/instagram.svg" alt=""></a>
  <a href=""><img src="../../../assets/social/reddit.svg" alt=""></a>
  <a href="https://twitter.com/monstercat"><img src="../../../assets/social/twitter.svg" alt=""></a>
  <a href="https://www.monstercat.com/player"><img src="../../../assets/social/youtube.svg" alt=""></a>
</div>