<div class="backdrop-filter backdrop-blur bg-black/60 h-screen">

  <app-header></app-header>

  <div class="grid grid-cols-2 py-32 px-40">

    <div class="flex flex-row items-end justify-center">
      <p class=" text-white whitespace-nowrap font-montserrat text-xl -rotate-90 mb-0 w-7 italic">Uncaged - Released
        January
        30,2023
      </p>
      <img src="../assets/images/600.webp" alt="imagen del album">
    </div>

    <div class="flex flex-col items-start justify-center gap-y-10">

      <div>
        <p class="text-white font-unbounded font-extrabold text-[60px]">HIT MY LINE</p>
        <p class="text-white font-unbounded  text-[45px]">SKYLER</p>
      </div>

      <img class="border-none w-24 ml-3 mb-5 rounded-full aspect-square overflow-hidden object-cover"
        src="../assets/images/artist1.webp" alt="artista1">

      <div class="flex flex-row gap-x-2">
        <button class="py-3 px-6 inline-flex items-center text-white font-unbounded bg-indigo-400">
          <img class="w-6 h-6 mr-2" src="../assets/icons/play.svg" alt="">
          <span>LISTEN NOW</span>
        </button>
        <button class="py-3 px-5 text-white font-unbounded border">SHARE</button>
      </div>

    </div>

  </div>

</div>