<div class="bg-gradient-to-t from-black to-transparent">

  <app-header></app-header>

  <!-- <div class="px-5 lg:px-8 md:px-8 py-20 flex flex-col gap-y-20 items-start w-fit mx-auto"> -->
  <div class="container px-16 py-20 flex flex-col gap-y-20 items-start w-fit mx-auto">

    <app-main></app-main>

    <app-stream-it></app-stream-it>

    <app-track-list class="w-full"></app-track-list>

    <app-other-releases></app-other-releases>

    <app-footer class="w-full"></app-footer>

  </div>
</div>