<div class="grid grid-rows-2 xl:w-fit">

  <div class="text-white text-3xl md:text-[40px] sm:font-bold font-unbounded">
    STREAM IT YOUR WAY
  </div>

  <div class="flex items-center cursor-pointer mt-3">
    <div class="flex relative gap-x-2 items-center border p-2 md:p-3 md:h-16">
      <img class="tooltip-reciever" src="../assets/social/monstercatplayer.svg" alt="">
      <div class="tooltip-reciever text-white text-xs font-unbounded">PLAYER</div>
      <div class="tooltip text-sm whitespace-nowrap font-unbounded px-2 bg-slate-300 rounded shadow-xl">
        STREAM ON MONSTERCAT PLAYER
      </div>
    </div>

    <div class="relative w-9 h-9 sm:w-11 sm:h-11 md:w-16 md:h-16 border flex items-center justify-center">
      <fa-icon class="tooltip-reciever text-lg md:text-2xl text-white" [icon]="faBandcamp">
      </fa-icon>
      <div class="tooltip text-sm whitespace-nowrap font-unbounded px-2 bg-slate-300 rounded shadow-xl">
        STREAM ON BANDCAMP
      </div>
    </div>

    <div class="relative w-9 h-9 sm:w-11 sm:h-11 md:w-16 md:h-16 border flex items-center justify-center">
      <fa-icon class="tooltip-reciever text-lg md:text-2xl text-white" [icon]="faSoundcloud">
      </fa-icon>
      <div class="tooltip text-sm whitespace-nowrap font-unbounded px-2 bg-slate-300 rounded shadow-xl">
        STREAM ON SOUNDCLOUD
      </div>
    </div>

    <div class="relative w-9 h-9 sm:w-11 sm:h-11 md:w-16 md:h-16 border flex items-center justify-center">
      <fa-icon class="tooltip-reciever text-lg md:text-2xl text-white" [icon]="faApple">
      </fa-icon>
      <div class="tooltip text-sm whitespace-nowrap font-unbounded px-2 bg-slate-300 rounded shadow-xl">
        STREAM ON APPLE MUSIC
      </div>
    </div>

    <div class="relative w-9 h-9 sm:w-11 sm:h-11 md:w-16 md:h-16 border flex items-center justify-center">
      <fa-icon class="tooltip-reciever text-lg md:text-2xl text-white" [icon]="faYoutube">
      </fa-icon>
      <div class="tooltip text-sm whitespace-nowrap font-unbounded px-2 bg-slate-300 rounded shadow-xl">
        STREAM ON YOUTUBE
      </div>
    </div>

    <div class="relative w-9 h-9 sm:w-11 sm:h-11 md:w-16 md:h-16 border flex items-center justify-center">
      <fa-icon class="tooltip-reciever text-lg md:text-2xl text-white" [icon]="faSpotify">
      </fa-icon>
      <div class="tooltip text-sm whitespace-nowrap font-unbounded px-2 bg-slate-300 rounded shadow-xl">
        STREAM ON SPOTIFY
      </div>
    </div>

  </div>

</div>