/* You can add global styles to this file, and also import other style files */
@import url(https://fonts.googleapis.com/css2?family=Rubik&family=Montserrat&family=Unbounded&family=Poppins);

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-no-repeat bg-center bg-cover
    bg-[url(assets/images/1024.webp)] backdrop-filter backdrop-blur
  }
}

.tooltip-reciever {
  &:hover ~ .tooltip {
    opacity: 1;
  }
}

.tooltip {
  position: absolute;
  bottom: 105%;
  left: 50%;
  opacity: 0;
  transform: translateX(-50%);
  transition: opacity 0.2s;
}